

header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: var(--bg-light);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo-container {
    width: auto;
}

.logo {
    width: clamp(150px, 20vw, 428px);
    height: auto;
}

nav {
    display: var(--nav-display);
    align-items: center;
    justify-content: space-around;

    gap: clamp(10px, 2vw, 40px);
}

.nav-button {
    font-weight: 700;
    font-size: clamp(16px, 1.5vw, 25px);
    color: var(--text-blue);
    text-align: center;
    white-space: nowrap;
}

.side-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.whatsapp-button {
    min-width: 282px;
    min-height: 56px;
    height: auto;
    margin-left: 60px;
    display: var(--whatsapp-display);
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-green);
    border-radius: 30px;
    padding: 8px;
}

.whatsapp-button .text {
    font-weight: 700;
    font-size: 25px;
    color: var(--text-light);
}

.whatsapp {
    width: 40px;
    height: auto;
}

.hidden {
    display: none;
}

/* 
    quando a tela for menor que 768px 
*/
@media screen and (max-width: 768px) {
    :root {
        --whatsapp-display: none;
        --nav-display: none;
    }
}