:root {
    --slider-padding: 125px calc(100dvw / 3.5) 0;
}

#slider {
    padding: var(--slider-padding);
    margin-top: 75px;
    background-image: url('/slider-bg.svg');
    background-size: 100% auto;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slider-title {
    color: var(--text-light);
    font-weight: 700;
    font-size: clamp(24px, 5vw, 65px);
    line-height: 1.1;
    text-align: left;
    width: 100%;
}

/* TODO: Responsividade não implementada */
.slider-text {
    color: var(--text-light);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
    text-align: left;
    width: 100%;
    padding: 15px 0;
}

/* TODO: Responsividade não implementada */
.slider-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

/* TODO: Responsividade não implementada */
.slider-button:hover {
    filter: brightness(0.7);
}

.slider-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 75px 0;
}

.slider-dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid var(--bg-light);
}

.slider-dot.selected {
    background-color: var(--bg-light);
}

/* 
    quando a tela for menor que 768px 
*/
@media screen and (max-width: 768px) {
    :root {
        --slider-padding: 50px calc(100dvw / 6) 0;
    }
}