:root {
    --slider-padding: 125px calc(100dvw / 3.5) 0;
}

#slider {
    margin-top: var(--header-height);
    background-image: url('/slider-bg.png');
    background-size: 100dvw auto;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-title {
    color: var(--text-light);
    font-weight: 700;
    font-size: 75px;
    /* font-size: clamp(24px, 5vw, 75px); */
    line-height: 0.8;
    text-align: left;
    width: 100%;
}

/* TODO: Responsividade não implementada */
.slider-text {
    color: var(--text-light);
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    text-align: left;
    width: 100%;
    padding: 15px 0;
}

.slider-button {
    margin-top: 16px;
}

/* TODO: Responsividade não implementada */
.slider-button:hover {
    filter: brightness(0.7);
}

.slider-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}

.slider-dot {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: 1px solid var(--bg-light);
}

.slider-dot.selected {
    background-color: var(--bg-light);
}

/* 
    quando a tela for menor que 768px 
*/
@media screen and (max-width: 768px) {
    :root {
        --slider-padding: 50px calc(100dvw / 6) 0;
    }
}