:root {
    --whatsapp-display: block;
    --nav-display: flex;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    height: auto;
    width: 100dvw;
    overflow-x: hidden;
    background-color: #fafafa;
    color: #000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
}

.logo-container {
    width: auto;
}

.logo {
    width: clamp(150px, 20vw, 247px);
    height: auto;
}

nav {
    display: var(--nav-display);
    align-items: center;
    justify-content: space-around;

    gap: clamp(10px, 2vw, 20px);
}

.nav-button {
    font-weight: 700;
    font-size: clamp(12px, 1.5vw, 18px);
    color: #286B98;
    text-align: center;
    white-space: nowrap;
}

.side-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.whatsapp-button {
    width: auto;
    height: auto;
    margin-left: 20px;
    display: var(--whatsapp-display);
}

#slider {
    padding: 125px 0;
    margin-top: 75px;
    background-image: url('/slider-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slider-title {
    color: #fff;
    font-weight: 700;
    font-size: clamp(24px, 5vw, 65px);
    line-height: 1.1;
    text-align: left;
}

.whatsapp {
    width: clamp(140px, 18vw, 218px);
    height: auto;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    :root {
        --whatsapp-display: none;
        --nav-display: none;
    }
}
