* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fafafa;
    color: #000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#topbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
}

div .logo-container {
    width: auto;
}

nav .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 160px;
    min-width: 500px;

    border: 1px solid red;
}

.nav-button {
    font-weight: 700;
    font-size: 20px;
    color: #286B98;
    padding: 10px;
}

div.side-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.whatsapp-button {
    width: auto;
    height: auto;
    padding: 0 20px;
}

.slider-bg {
    width: 100%;
    height: auto;
    display: block;
}

#slider {
    padding: 75px 0;
    margin-top: 75px;
    background-image: url('/slider-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slider-title {
    color: #fff;
    font-weight: 700;
    font-size: 68px;
    line-height: 65px;
    text-align: left;
    padding: 20px;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
